@using WebsiteQuanLyBanHang.Models
@model IEnumerable<SanPham>
@{
    ViewBag.Title = "LoadSanPham";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}
<div class="col-md-9 product1">
    <div class=" bottom-product">
        @if (Model != null)
        {
            foreach (var item in Model.OrderBy(n => n.DonGia))
            {
                <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                    <div class="product-at ">
                        <a href="@Url.Action("XemChiTietSp","SanPham", new { id = item.MaSP })">
                            <img class="img-responsive" src="@Url.Content("~/content/HinhAnhSP/"+item.HinhAnh)" alt="" style="width:150px;height:100px;">
                            <div class="pro-grid">
                                <span class="buy-in">Mua ngay</span>
                            </div>
                        </a>
                    </div>
                    <p class="tun">@item.TenSP</p>
                    <a href="@Url.Action("XemChiTietSp","SanPham", new { id = item.MaSP })" class="item_add"><p class="number item_price"><i> </i>@item.DonGia.ToString() VND</p></a>
                </div>
            }

        }
        else
        {

        }
    </div>

</div>


